@media print {
  h1,
  h2,
  h3 {
    break-after: avoid;
    page-break-after: avoid;
  }

  table,
  pre,
  blockquote,
  ul,
  ol {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
