version: "3.8"

services:
  postgres:
    image: postgres:16
    container_name: bootroot-postgres
    restart: always
    environment:
      - POSTGRES_USER=step
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-step-pass}
      - POSTGRES_DB=stepca
    volumes:
      - postgres-data:/var/lib/postgresql/data

  step-ca:
    build:
      context: .
      dockerfile: docker/step-ca/Dockerfile
      args:
        - STEP_CA_VERSION=v0.29.0
    image: bootroot-step-ca:0.29.0
    container_name: bootroot-ca
    restart: always
    depends_on:
      - postgres
    ports:
      - "9000:9000"
    environment:
      - STEPUSER=step
    volumes:
      - ./secrets:/home/step
    command:
      [
        "/usr/local/bin/step-ca",
        "/home/step/config/ca.json",
        "--password-file",
        "/home/step/password.txt",
      ]

  bootroot-http01:
    build:
      context: .
      dockerfile: docker/http01-responder/Dockerfile
    image: bootroot-http01-responder:latest
    container_name: bootroot-http01
    volumes:
      - ./responder.toml.compose:/app/responder.toml:ro
    command:
      - --config=/app/responder.toml
    networks:
      default:
        aliases:
          - bootroot-agent.com

  bootroot-agent:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: bootroot-agent
    depends_on:
      - step-ca
    volumes:
      - ./certs:/app/certs
      - ./secrets/certs/root_ca.crt:/app/root_ca.crt
      - ./secrets:/app/secrets:ro
      - ./agent.toml.compose:/app/agent.toml:ro
    command:
      - --oneshot
      - --ca-url=https://bootroot-ca:9000/acme/acme/directory
      - --config=/app/agent.toml
    environment:
      - RUST_LOG=debug

volumes:
  postgres-data:
