$font-size: 12pt;
$line-height: 1.3;

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Pretendard-Bold.woff2") format("woff2");
  unicode-range: U+AC00-D7A3, U+3130-318F;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Pretendard-Medium.woff2") format("woff2");
  unicode-range: U+AC00-D7A3, U+3130-318F;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Pretendard-Regular.woff2") format("woff2");
  unicode-range: U+AC00-D7A3, U+3130-318F;
}

* {
  font-family: "Roboto", "Pretendard", sans-serif !important;
}

html,
body {
  height: 100%;
  margin: 0;
  font-size: $font-size !important;
  line-height: $line-height !important;
}

p,
li,
td,
th {
  font-size: $font-size !important;
  line-height: $line-height !important;
}

ol,
ul {
  margin-left: 1.4em !important;
  padding-left: 0 !important;
}

ol {
  list-style-type: decimal !important;
  list-style-position: outside !important;
}

ul {
  list-style-position: outside !important;
}

code,
pre {
  font-family: ui-monospace, "SFMono-Regular", Menlo, Consolas, monospace !important;
  font-size: 10pt;
}

h1 {
  font-size: 23pt;
  color: #0077C8;
}

h2 {
  font-size: 17.5pt;
}

h3 {
  font-size: 13.5pt;
}

@page {
  margin: 55px 75px 80px 75px;

  @bottom-center {
    content: none;
  }

  @bottom-left {
    content: string(title);
    font-size: 9pt;
    color: #75777B;
  }

  @bottom-right {
    content: counter(page);
    font-size: 10pt;
    color: #000000;
  }

  @top-right {
    content: none;
  }
}

@page: first {
  @bottom-left {
    content: none;
  }
}

#doc-cover {
  height: 100vh;
  padding-top: 40px;
}

div.cover-wrapper {
  display: flex;
  align-items: self-start;
  align-self: stretch;
  flex-direction: column;
}

div.logo {
  width: 245px;
  height: 34px;
  margin-bottom: 220px;
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}

#doc-cover h1,
#doc-cover h2 {
  font-size: 40pt;
  line-height: 1.08;
  color: #0077C8;
  font-weight: 400;
  margin: 0;
  border: 0;
  box-shadow: none;
  text-decoration: none;
  border-bottom: 0 !important;
  padding-bottom: 0;
}

#doc-cover h1 {
  font-weight: 500;
  margin-bottom: 2px;
}

#doc-cover h2 {
  margin-bottom: 14px;
}

div.tagline {
  color: #75777B;
  font-size: 18pt;
  font-weight: 400;
}

div.cover-footer {
  position: absolute;
  bottom: 0;
}

div.cover-rule {
  width: 160px;
  height: 4px;
  background: #0077C8;
  margin-bottom: 30px;
}

p.meta {
  margin: 0;
  color: #71717B;
}

p.meta-copyright {
  color: #9F9FA9;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.15px;
  white-space: nowrap;
  margin-top: 30px;
}

article:not(#doc-cover) h1 {
  font-size: 20pt;
  font-weight: 500;
  color: #0077C8 !important;
  border-bottom: 1px solid #0077C8 !important;
  padding-bottom: 2px;
  margin-bottom: 8px;
}

article:not(#doc-cover) h2 {
  font-size: 14pt;
  font-weight: 400;
  color: #0077C8 !important;
  border-bottom: 0 !important;
  margin-top: 36px;
  margin-bottom: 2px;
}

article:not(#doc-cover) h3 {
  font-size: 12pt;
  font-weight: 500;
  color: #000000 !important;
  border-bottom: 0 !important;
  margin-top: 24px;
  margin-bottom: 4px;
}

article:not(#doc-cover) h4 {
  font-size: 11pt;
  font-weight: 500;
}

article:not(#doc-cover) h2+h3 {
  margin-top: 32px;
}

article:not(#doc-toc) ol,
article:not(#doc-toc) ul {
  padding-left: 1.2em !important;
}

article:not(#doc-toc) ol>li,
article:not(#doc-toc) ul>li {
  text-indent: -0.8em;
  padding-left: 0.8em;
}

article#doc-toc>h1 {
  color: #0077C8;
  font-size: 24pt;
  font-weight: 500;
  box-shadow: none;
  text-decoration: none;
  border-bottom: 0 !important;
  padding-bottom: 0;
  margin-bottom: 40px;
  margin-top: 50px;
}

article#doc-toc>ul {
  margin-left: 65px !important;
  padding-left: 0 !important;
}

article#doc-toc>ul ul {
  margin-left: 1.2em;
}

article#doc-toc li {
  margin: 0;
}

article#doc-toc li>a {
  border-bottom: 0;
  padding-bottom: 0;
  display: inline-block;
  line-height: 0.5;
}
