version: "3.8"

services:
  step-ca:
    image: smallstep/step-ca:latest
    container_name: bootroot-ca
    restart: always
    ports:
      - "9000:9000"
    environment:
      - STEPUSER=step
    volumes:
      - ../secrets:/home/step
    command:
      [
        "/usr/local/bin/step-ca",
        "/home/step/config/ca.json",
        "--password-file",
        "/home/step/password.txt",
      ]
