version: "3.8"

services:
  step-ca:
    image: smallstep/step-ca:latest
    container_name: bootroot-ca
    restart: always
    ports:
      - "9000:9000"
    environment:
      - STEPUSER=step
    volumes:
      - ../secrets:/home/step
    command:
      [
        "/usr/local/bin/step-ca",
        "/home/step/config/ca.json",
        "--password-file",
        "/home/step/password.txt",
      ]

  bootroot-agent:
    build:
      context: ..
      dockerfile: deploy/Dockerfile.agent
    container_name: bootroot-agent
    depends_on:
      - step-ca
    volumes:
      - ./certs:/app/certs
      - ../secrets/certs/root_ca.crt:/app/root_ca.crt
    command:
      - --server=https://bootroot-ca:9000/acme/acme/directory
      - --root=/app/root_ca.crt
      - --domains=bootroot-agent
      - --out=/app/certs
    expose:
      - "80"
