name: Docs

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  build:
    name: Build Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install MkDocs
        run: python3 -m pip install --upgrade pip mkdocs-material mkdocs-static-i18n

      - name: Build
        run: mkdocs build --strict

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: site

  deploy:
    name: Deploy Docs
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
